.card {
  display: flex;
  padding: 1rem;
  gap: 1rem;

  .imgContainer {
    flex: 2;
    height: 140px;

    img {
      width: 200px;
      height: 100%;
      border-radius: 4px;
    }
  }

  .cardContainer {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    img {
      width: 16px;
      height: 16px;
    }

    h3 {
      font-size: 1rem;
      font-weight: 600;
      color: #444;
      transition: all 0.4s ease;

      &:hover {
        color: #000;
        scale: 1.01;
      }
    }

    .address {
      display: flex;
      gap: 0.5rem;
      font-size: 14px;
      color: #888;
    }

    .price {
      font-size: 20px;
      font-weight: 300;
      padding: 5px;
      border-radius: 5px;
      background-color: #fece51;
      width: max-content;
    }

    .bottom {
      display: flex;
      justify-content: space-between;

      .features {
        display: flex;
        gap: 0.5rem;
        color: #888;

        .feature {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.25rem;
          font-size: 12px;
          background-color: whitesmoke;
          border-radius: 4px;
        }
      }

      .icons {
        display: flex;
        gap: 0.5rem;

        .icon {
          cursor: pointer;
          border: 1px solid #999;
          border-radius: 4px;
          padding: 2px 4px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background-color: lightgray;
          }
        }
      }
    }
  }
}
